In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import re
import string

In [2]:
data_path = "/content/drive/My Drive/NLP/Covid_tweet"

In [8]:
train_data = pd.read_csv(data_path+"/Corona_NLP_train.csv", encoding = "latin1")

In [9]:
train_data.head()

   UserName  ...           Sentiment
0      3799  ...             Neutral
1      3800  ...            Positive
2      3801  ...            Positive
3      3802  ...            Positive
4      3803  ...  Extremely Negative

[5 rows x 6 columns]

In [10]:
train_data.shape

(41157, 6)

In [17]:
train_data.OriginalTweet[100]

'I hate grocery shopping in general but I swear IÂ\x92m doing it online next shop, can not deal with the swathes of panic buyers at all! #COVID?19 #coronavirus #coronavirusuk #anxiety #panicbuyinguk #morons'

In [15]:
len(train_data.OriginalTweet)

41157

#Data Cleaning Plan

1. Removing Tagas like @, # tags along with correspoding word
2. Removing Urls
3. Replacing ' as it apperas as Â\x92 in some places e.g I'm appears as IÂ\x92m
4. Removing Punctuations
5. Converting to lowercases