In [28]:
import pandas as pd
import numpy as np

In [29]:
sentnece =  "this sentence will be encoded with one hot encoding"

In [30]:
#creating tokens/vocabulary list from sentnece
tokens = sentnece.split(" ")
len(tokens)

9

In [31]:
tokens

['this', 'sentence', 'will', 'be', 'encoded', 'with', 'one', 'hot', 'encoding']

In [32]:
#generating an matrix with all zeros for initializing the matrix for onehot encoding
one_hot = np.zeros((len(tokens), len(tokens)), int)

In [33]:
#updating the matrix with 1 where for the column where the tokens appeared
for i, word in enumerate(tokens):
  one_hot[i, tokens.index(word)] = 1
  print(i,word)

0 this
1 sentence
2 will
3 be
4 encoded
5 with
6 one
7 hot
8 encoding

In [34]:
one_hot

array([[1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1]])

In [35]:
df = pd.DataFrame(one_hot, columns = tokens)
df

   this  sentence  will  be  encoded  with  one  hot  encoding
0     1         0     0   0        0     0    0    0         0
1     0         1     0   0        0     0    0    0         0
2     0         0     1   0        0     0    0    0         0
3     0         0     0   1        0     0    0    0         0
4     0         0     0   0        1     0    0    0         0
5     0         0     0   0        0     1    0    0         0
6     0         0     0   0        0     0    1    0         0
7     0         0     0   0        0     0    0    1         0
8     0         0     0   0        0     0    0    0         1

In [36]:
### For a better representation
df[df==0] = ""

In [37]:
df

  this sentence will be encoded with one hot encoding
0    1
1             1
2                  1
3                     1
4                             1
5                                  1
6                                      1
7                                          1
8                                                   1